.cards {
    position: relative;
}

.card {
    position: relative;
}

.card:hover {
    opacity: .85;
}

.card-wrapper {
    display: flex;
    gap: .8rem;
    flex-direction: column;
    margin-bottom: 1.8rem;
}

.card-title {
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 0;
    padding-right: 1rem;
    text-overflow: ellipsis;
    color: var(--primary-text-color);
    display: flex;
    align-items: start;
    gap: .8rem;

}

.card-title .icon {
    flex-shrink: 0;
    margin: .4rem 0
}

.card-overlay .card-title {
    color: var(--primary-text-color-overlay);
}

.card-excerpt {
    color: var(--tertiary-text-color);
}

.card-overlay .card-excerpt {
    color: var(--tertiary-text-color-overlay);
}

.card-image,
.placeholder {
    position: relative;
    margin-bottom: 16px;
    aspect-ratio: 2/3;
    background-color: var(--input-background-color);
}

.card-overlay.tag-hash-u-on-dark .card-image,
.card-overlay.tag-hash-u-on-dark .placeholder {
    background-color: var(--primary-text-color);
}

.full-row .card-image {
    aspect-ratio: 2/1;
}

.card-image img,
.testimonial-image img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.card-overlay .card-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    gap: 4px;
    width: 100%;
    padding: 2.4rem 2.4rem 0;
}

.card-overlay .card-image,
.card-overlay .placeholder {
    margin-bottom: 0;
}

.card-overlay.tag-hash-u-on-dark .card-title {
    color: var(--primary-text-color-invert);
}

.card-overlay.tag-hash-u-on-dark .card-excerpt {
    color: var(--secondary-text-color-invert);
}

.card-overlay.tag-hash-u-on-dark .tag-item {
    color: var(--secondary-text-color-invert);
    border-color: var(--secondary-text-color-invert);
}

.card-overlay .icon {
    display: none;
}

.featured-posts {
    overflow-x: hidden;
    padding-top: 1.6rem;
}

.tags-list {
    display: flex;
    gap: .8rem;
    margin-top: .4rem;
}

.tag-item {
    padding: 0 1rem;
    border-radius: 4rem;
    border: solid 1px var(--divider-color);
    color: var(--secondary-text-color);
    width: fit-content;
}

.card-overlay .tag-item {
    border-color: var(--divider-color-verlay);
    color: var(--secondary-text-color-overlay);
}

@media (max-width: 767px) {
    .full-row .card-image {
        aspect-ratio: 1/1;
    }
}
