.site-footer {
    padding-top: 8rem;
    padding-bottom: 6.4rem;
}

.footer-inner-main {
    padding: 6.4rem 0 6.4rem;
    align-items: start;
}

.footer-copyright {
    padding-top: 6.4rem;
    color: var(--tertiary-text-color);
}

.footer-nav .nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
}

.footer-nav .nav li {
    list-style-type: none;
    padding: 4px 0;
}

.footer-group-header {
    color: var(--tertiary-text-color);
}

.footer-nav-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    justify-content: flex-start;
}

.footer-nav-flex .footer-nav-group{
    flex: 1 0 0;
    min-width: 16rem; /* Prevents columns from becoming too narrow */
}

.has-serif-body .footer-copyright,
.has-serif-body .footer-desc,
.has-serif-body .footer-nav .nav li {
    font-family: var(--font-serif);
}

@media (max-width: 767px) {
    .footer-inner-main {
        grid-template-columns: 1fr;
    }

    .footer-left {
        margin-bottom: 3rem;
    }

    .footer-right {
        align-items: start;
    }
}
