.testimonial-image {
    position: relative;
    aspect-ratio: 1/1;
    width: 8rem;
}

.testimonial-wrapper {
    display: flex;
    gap: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 5.6rem;
}

.testimonial-content {
    padding-right: 24px;
}

.testimonial-desc {
    color: var(--tertiary-text-color);
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-content::before {
    content: "";
	position: absolute;
	top: -2px;
	left: -22px;
	right: 0;
	height: 3.2rem;
    width: 3.2rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148 94' width='148' height='94' fill='none'%3E%3Cpath fill='%23A2A2A2' d='M66.953 60.95c0-17.793-13.179-31.975-30.17-31.975-7.96 0-15.52 3.144-21.072 9.298h-1.806c3.88-12.643 15.654-23.212 30.303-27.56 2.074-.67 3.613-1.271 4.55-2.074 1.07-.87 1.672-1.94 1.672-3.478 0-2.81-2.14-4.75-5.285-4.75-2.074 0-3.68.402-6.556 1.338-9.231 3.01-17.526 8.295-23.948 15.051C5.611 26.166.058 38.675.058 53.525c0 25.086 15.921 39.602 34.585 39.602 18.396 0 32.31-14.048 32.31-32.176Zm80.34 0c0-17.793-13.245-31.975-30.169-31.975-7.961 0-15.587 3.144-21.072 9.298h-1.806c3.88-12.643 15.653-23.212 30.236-27.56 2.074-.67 3.679-1.271 4.616-2.074 1.07-.87 1.605-1.94 1.605-3.478 0-2.81-2.074-4.75-5.218-4.75-2.14 0-3.679.402-6.622 1.338-9.165 3.01-17.527 8.295-23.948 15.051-8.964 9.366-14.517 21.875-14.517 36.725 0 25.086 15.921 39.602 34.585 39.602 18.396 0 32.31-14.048 32.31-32.176Z'/%3E%3C/svg%3E");
    z-index: -1;
    opacity: .4;
}
