/* Content card styling and layout */
.kg-layout-split .kg-header-card-content {
    grid-template-columns: 38% 62% !important;
}

.kg-header-card.kg-width-full.kg-layout-split h2.kg-header-card-heading,
.kg-signup-card.kg-width-full.kg-layout-split h2.kg-signup-card-heading {
    font-size: clamp(3.6rem,4vw,5.2rem) !important;
    line-height: 1.2;
}

.kg-header-card.kg-width-full.kg-layout-split .kg-header-card-subheading,
.kg-header-card.kg-width-wide .kg-header-card-subheading {
    font-size: clamp(1.05em,2vw,2rem) !important;
    line-height: 1.4;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 2px !important;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 2px 0 0 !important;
}

.kg-card.kg-bookmark-card a.kg-bookmark-container,
.kg-card.kg-bookmark-card a.kg-bookmark-container:hover,
.kg-card.kg-audio-card,
.kg-card.kg-file-card a.kg-file-card-container,
.kg-card.kg-product-card .kg-product-card-container {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.kg-product-card-container {
    font-family: var(--font-base);
}


/* table */

.kg-canvas table {
    grid-column: full;
    padding: 0 8vw;
}

.site-content table:not(.gist table) {
    background: none;
    overflow-x: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: var(--content-width);
    table-layout: fixed;
    border-collapse: collapse;
}

.site-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6rem;
    margin: 2rem 0;
}

.site-content table:not(.gist table) td,
.site-content table:not(.gist table) th {
    padding: 1.6rem 3.2rem 1.6rem 0;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--divider-color);
    white-space: nowrap;
    white-space: normal;
    min-width: unset;
    font-size: 1em;
    /* min-width: 20rem; */
}

.site-content table:not(.gist table) th {
    font-weight: 600;
    text-transform: none;
    color: var(--primary-text-color);
    font-size: 1em;
}

.site-content table tr:last-child td {
    border-bottom: none;
}

.site-content table:not(.gist table) th {
    background-color: transparent;
    /* min-width: calc(var(--content-width) / 3); */
}

.site-content table:not(.gist table) tr {
    min-width: var(--content-width);
}

.site-content table:not(.gist table) td:first-child,
.site-content table:not(.gist table) th:first-child {
    background-image: linear-gradient(90deg, var(--background-color) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    background-size: 20px 100%;
}

.site-content table:not(.gist table) td:last-child,
.site-content table:not(.gist table) th:last-child {
    background-image: linear-gradient(270deg, var(--background-color) 50%, hsla(0, 0%, 100%, 0));
    background-repeat: no-repeat;
    background-size: 20px 100%;
    background-position: 100% 0;
}

.site-content table:not(.highlight) tr:hover td {
    background-color: transparent;
}

.site-content table:not(.gist table) thead,
.site-content table:not(.gist table) tbody {
    /* display: table; */
    width: 100%;
}


@media (max-width: 767px) {
    .kg-layout-split .kg-header-card-content {
        grid-template-columns: 1fr !important;;
    }

    .kg-canvas table {
        padding: 0 4vw;
    }

    .site-content table:not(.gist table) td,
    .site-content table:not(.gist table) th {
        min-width: 8rem;
    }
}

/* Content card styling and layout */