/* .related-wrapper {
    margin-top: 6rem;
} */

.related-content {
    border-top: 2px solid var(--primary-text-color);
    padding: 4.5rem 0 3rem;
}

.related-title {
    margin-bottom: 3rem;
    color: var(--tertiary-text-color);
}

.comment-title {
    color: var(--tertiary-text-color);
}

.has-serif-title .related-title  {
    font-family: var(--font-serif);
}