.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.4rem;
    height: var(--form-input-height);
    outline: none;
    border: 0;
    color: var(--brand-color);
    font-family: var(--gh-font-body, var(--font-base));
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    opacity: .75;
}

.button.button-primary {
    background-color: var(--brand-color);
    color: var(--primary-text-color-invert);
    text-decoration: none;
}

.button.button-secondary {
    color: var(--primary-text-color);
    border: solid 1px var(--divider-color);
    background-color: transparent;
}

.button .icon {
    margin-left: .8rem;
}

.button.round {
    border-radius: 32px;
}

.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: 0;
    color: var(--primary-text-color);
    background-color: transparent;
    cursor: pointer;
}

.button-icon:hover .icon {
    opacity: 0.8;
}

.button-text {
    padding: 0;
    outline: none;
    border: 0;
    color: var(--primary-text-color);
    line-height: inherit;
    background-color: transparent;
    cursor: pointer;
}

.gh-btn {
    border-radius: 5px;
}

.button-center {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
}

.link-view-all {
    color: var(--tertiary-text-color);
    height: auto;
}

.has-serif-title .button,
.has-serif-body .button-text {
    font-family: var(--font-serif);
}
